.git

# Project specefic
/corkies-backup/
/rsfyap16_zc1.sql
/cart/includes/local/*
/cart/00ckc00/includes/local/*

/cart/error_log
/cart/cache/*

/cart/includes/modules/payment/paypal/logs/*.log

# Vagrant extras
/vagrant/.vagrant/
/vagrant/habitat/
